---
import type { WithAttributes } from '@/types';
import { buildI18nPath } from '@/i18n/utils';
import ArticleCard from '@/components/ArticleCard.astro';
import { parseTags } from '@/scripts/data-parsers/parseTag';
import type {
  CaseStudyCardFragment,
  EventListItemFragment,
  InsightsListItemFragment,
  NewsroomListItemFragment,
} from '@/__generated__/cms';
import { getStore } from '@/scripts/store';
import { languageStore } from '@/stores/languageStore';
import { cn } from '@/scripts/cn';
import Grid from './ui/Grid.astro';
import ArticleTag from './ArticleTag.astro';
import ArticleEventDetails from './ArticleEventDetails.astro';

type ArticlesGridProps = {
  postType: 'insights' | 'newsroom' | 'event' | 'case-study';
  posts: (
    | InsightsListItemFragment
    | NewsroomListItemFragment
    | EventListItemFragment
    | CaseStudyCardFragment
  )[];
  columns?: 3 | 4;
};

type Props = WithAttributes<ArticlesGridProps>;

const { posts, columns = 3 } = Astro.props;
const { currentLanguage } = getStore(languageStore);
const lang = currentLanguage.code;
---

{
  posts.length > 0 && (
    <Grid>
      {posts.map((post) => {
        if (!post.uri) return null;
        const categoryName =
          'categories' in post
            ? post.categories?.nodes?.[0]?.name ?? ''
            : undefined;
        const postTags =
          'tags' in post ? parseTags(post.tags?.nodes ?? []) : [];
        const eventDate =
          post.__typename === 'Event' ? post.eventAcf?.eventDate : undefined;
        return (
          <ArticleCard
            link={{ url: buildI18nPath(post.uri, lang) }}
            image={post.subpageSettings?.image}
            postType={post.__typename}
            class={cn('col-span-full', {
              'sm:col-span-6 lg:col-span-4': columns === 3,
              'sm:col-span-6 lg:col-span-4 xl:col-span-3': columns === 4,
            })}
          >
            {post.__typename === 'Event' && !!eventDate && (
              <ArticleEventDetails slot="image-addition" date={eventDate} />
            )}

            {!!categoryName && (
              <div class="typography-card-title text-sw-text-subdued">
                {categoryName}
              </div>
            )}
            {!!post.title && (
              <div class="typography-cards-bold-large">{post.title}</div>
            )}
            {postTags.length > 0 && (
              <div class="tags mt-auto flex flex-wrap gap-2.5">
                {postTags.map((postTag) =>
                  postTag.shouldRender ? (
                    <ArticleTag color={postTag.color}>
                      {postTag.name}
                    </ArticleTag>
                  ) : null
                )}
              </div>
            )}
          </ArticleCard>
        );
      })}
    </Grid>
  )
}
