---
import type { UnparsedImage } from '@/scripts/data-parsers/parseImage';
import { buildI18nPath } from '@/i18n/utils';
import { getLanguage } from '@/scripts/utils-store-helpers';
import Button from './ui/Button.astro';
import CustomerLogo from './CustomerLogo.astro';

type Props = {
  customerLogo?: UnparsedImage;
  customerTitle?: string;
  customerCategory?: string;
  title?: string;
  buttonLabel?: string;
  uri?: string;
};

const {
  uri,
  buttonLabel,
  customerCategory,
  customerTitle,
  customerLogo,
  title,
} = Astro.props;

const { currentLanguage } = getLanguage();
---

<CustomerLogo logo={customerLogo} />
{
  !!customerTitle?.length || !!customerCategory?.length ? (
    <div class="customer-details typography-card-title mb-4 flex flex-col">
      {customerTitle?.length ? <span>{customerTitle}</span> : null}
      {customerCategory ? (
        <span class="text-sw-text-subdued">{customerCategory}</span>
      ) : null}
    </div>
  ) : null
}

<h3 set:html={title} class="typography-cards-bold-large" />

<div class="mt-auto pt-8">
  {
    !!uri && (
      <Button
        asLink
        trailingIcon="arrow-right"
        href={buildI18nPath(uri, currentLanguage)}
        variant="secondary"
        class="w-full md:w-auto"
      >
        {buttonLabel}
      </Button>
    )
  }
</div>
