---
import { Icon } from 'astro-icon/components';
import { getStore } from '@/scripts/store';
import { languageStore } from '@/stores/languageStore';
import { buildPath } from '@/scripts/buildPath';

const id = `dropdown-${crypto.randomUUID().substring(16)}`;
const { currentLanguage, languages } = getStore(languageStore);
---

<script>
  import { computePosition, flip, shift, autoUpdate } from '@floating-ui/dom';

  const buttons = Array.from(
    document.querySelectorAll<HTMLButtonElement>(
      'button[data-action="toggle-language-switcher"]'
    )
  );

  for (const button of buttons) {
    const relatedDropdown = button.nextElementSibling as HTMLElement;
    if (relatedDropdown) {
      const updatePosition = () => {
        computePosition(button, relatedDropdown, {
          placement: 'bottom',
          middleware: [flip(), shift()],
        }).then(({ x, y }) => {
          relatedDropdown.style.setProperty('left', `${x}px`);
          relatedDropdown.style.setProperty('top', `${y}px`);
        });
      };

      autoUpdate(button, relatedDropdown, updatePosition);

      button.addEventListener('click', () => {
        const state = button.ariaPressed === 'true';
        const nextState = !state ? 'true' : 'false';
        button.ariaPressed = nextState;
        relatedDropdown.ariaHidden = state ? 'true' : 'false';
      });
    }
  }
</script>

<div class="language-switcher-container relative">
  <button
    type="button"
    class="switcher flex items-center gap-1 font-medium py-1.5 px-2.5 toggle"
    data-action="toggle-language-switcher"
    aria-controls={id}
    aria-pressed="false"
  >
    <span>{currentLanguage.code.toUpperCase()}</span>
    <Icon name="caret-down" />
  </button>
  {
    languages && (
      <ul
        aria-hidden="true"
        class="list absolute visible shadow-language-switcher rounded-lg p-2 transition-all duration-100 aria-hidden:-translate-y-1 aria-hidden:opacity-0 aria-hidden:invisible space-y-1"
        id={id}
      >
        {languages.map((lang) => (
          <li class="flex flex-col">
            <a
              href={buildPath('/', lang?.code)}
              set:text={lang?.translated_name}
              aria-label={lang?.translated_name}
              data-current={
                lang?.code === currentLanguage.code ? 'true' : 'false'
              }
              class="w-full text-center rounded transition-colors data-[current=true]:bg-sw-surface-subdued hover:bg-sw-surface-subdued py-1 px-2.5 font-medium"
            />
          </li>
        ))}
      </ul>
    )
  }
</div>
