---
import { Icon } from 'astro-icon/components';
import { getStore } from '@/scripts/store';
import { languageStore } from '@/stores/languageStore';
import { buildI18nPath } from '@/i18n/utils';
import { cn } from '@/scripts/cn';
import MenuItem from './MenuItem.astro';

const id = `dropdown-${crypto.randomUUID().substring(16)}`;

const { currentLanguage, languages: rawLanguages } = getStore(languageStore);
const languages = (rawLanguages ?? []).filter(Boolean);

// TODO: close popover when clicked outside
// TODO: link to current page translation if possible
---

<script>
  import { computePosition, flip, shift, autoUpdate } from '@floating-ui/dom';

  const buttons = Array.from(
    document.querySelectorAll<HTMLButtonElement>(
      'button[data-action="toggle-language-switcher"]'
    )
  );

  for (const button of buttons) {
    const relatedDropdown = button.nextElementSibling as HTMLElement;
    if (relatedDropdown) {
      const updatePosition = () => {
        computePosition(button, relatedDropdown, {
          placement: 'bottom',
          middleware: [flip(), shift()],
        }).then(({ x, y }) => {
          relatedDropdown.style.setProperty('left', `${x}px`);
          relatedDropdown.style.setProperty('top', `${y}px`);
        });
      };

      autoUpdate(button, relatedDropdown, updatePosition);
    }
  }
</script>

<div class="language-switcher-container relative group">
  <MenuItem
    asButton
    type="button"
    data-action="toggle-language-switcher"
    aria-controls={id}
    aria-pressed="false"
  >
    <span class="text-sm sm:text-base">
      {currentLanguage.code.toUpperCase()}
    </span>
    <Icon name="caret-down" />
  </MenuItem>
  {
    languages && (
      <div
        class={cn(
          'lg:pt-8 pt-4',
          'absolute invisible opacity-0 transition-all duration-100 z-10',
          'group-hover:translate-y-1 group-hover:opacity-100 group-hover:visible'
        )}
      >
        <ul class="list bg-white rounded-lg p-6 space-y-4 shadow-menu" id={id}>
          {languages.map((lang) => (
            <li class="flex flex-col">
              <MenuItem
                href={buildI18nPath('/', lang.code)}
                set:text={lang.translated_name}
                aria-label={lang.translated_name}
                data-current={
                  lang.code === currentLanguage.code ? 'true' : 'false'
                }
              />
            </li>
          ))}
        </ul>
      </div>
    )
  }
</div>
