---
import type { ModulesModulesContentQuotationWithImageLayout } from '@/__generated__/cms';
import CustomerLogo from '@/components/CustomerLogo.astro';
import ModuleContainer from '@/components/ModuleContainer.astro';
import UIQuotation from '@/components/Quotation.astro';
import Grid from '@/components/ui/Grid.astro';
import { cn } from '@/scripts/cn';
import type { WithModuleMeta } from '@/types';

type Props = WithModuleMeta<ModulesModulesContentQuotationWithImageLayout>;

const { __meta__, layoutName, backgroundColor, quotation, image, logo } =
  Astro.props;

const { quote, authorImage, authorName, authorOccupation } =
  quotation?.selectQuotation ?? {};
---

<ModuleContainer meta={__meta__} name={layoutName!} bg={backgroundColor}>
  <Grid>
    <div
      class={cn('col-span-full lg:col-start-2 lg:col-end-12', {
        'lg:col-start-1 lg:col-end-[-1]': __meta__.moduleType === 'article',
      })}
    >
      <UIQuotation
        theme={'light'}
        avatarSize="sm"
        quoteSize="md"
        paddingSize="with-image"
        authorName={authorName}
        authorImage={authorImage}
        authorOccupation={authorOccupation}
        image={image}
        class={cn({
          '[&_.author]:mt-6': __meta__.moduleType === 'article',
        })}
      >
        <Fragment slot="image-details">
          <CustomerLogo
            logo={logo}
            class="absolute left-6 top-6 md:left-8 md:top-9"
          />
        </Fragment>
        <Fragment set:html={quote} />
      </UIQuotation>
    </div>
  </Grid>
</ModuleContainer>
