---
import { cmsStore } from '@/stores/cmsStore';
import { getStore } from '@/scripts/store';
import { parseSectionTitle } from '@/scripts/data-parsers/parseSectionTitle';
import { imageShouldRender } from '@/scripts/data-parsers/parseImage';
import { parseLink } from '@/scripts/data-parsers/parseLink';
import { cn } from '@/scripts/cn';
import { buildI18nPath } from '@/scripts/buildI18nPath';
import Container from '../ui/Container.astro';
import Button from '../ui/Button.astro';
import Grid from '../ui/Grid.astro';
import SectionTitle from '../partials/SectionTitle.astro';
import Card from '../ui/Card.astro';
import ButtonContainer from '../ButtonContainer.astro';
import WordpressImage from '../WordpressImage.astro';

const store = getStore(cmsStore);
const data = store.homepage!;
const acf = data.homepage!.caseStudies!;
const button = parseLink(acf.button);
const cases = acf.caseStudies?.nodes ?? [];
---

<section class="case-studies py-12 md:py-20">
  <Container>
    <SectionTitle
      withMargin
      {...parseSectionTitle(acf.sectionTitle?.selectSectionTitle)}
    />
    <Grid>
      {
        cases.length > 0 &&
          cases.map((caseStudy, index) => {
            if (caseStudy.__typename !== 'CaseStudy') return null;
            const isFeatured = index === 0;
            const customerMaybe =
              caseStudy.caseStudyAcf?.relatedCustomer?.nodes[0];
            const customer =
              customerMaybe?.__typename === 'Customer'
                ? customerMaybe
                : undefined;
            const customerLogo = customer?.customerAcf?.logo;

            return (
              <div
                class={cn('case-study', 'col-span-full lg:col-span-6', {
                  'lg:col-span-full': isFeatured,
                })}
              >
                <Card
                  class={cn(
                    'overflow-hidden h-full p-0 bg-sw-surface-subdued',
                    'grid gap-5 lg:min-h-[26.25rem] grid-cols-2',
                    {
                      'lg:grid-cols-12': isFeatured,
                    }
                  )}
                >
                  <div
                    class={cn(
                      'content-column flex flex-col p-6 col-span-full md:col-span-1',
                      {
                        'lg:col-span-4': isFeatured,
                      }
                    )}
                  >
                    {!!customer && (
                      <Fragment>
                        {imageShouldRender(customerLogo) && (
                          <Card class="customer-logo p-3 w-36 h-20 max-w-full flex items-center justify-center mb-8">
                            <WordpressImage
                              data={customerLogo}
                              class="max-h-full max-w-full object-contain"
                            />
                          </Card>
                        )}
                        <div class="customer-details typography-card-title flex flex-col mb-4">
                          <span>{customer.title}</span>
                          {!!customer.customerAcf?.category && (
                            <span class="text-sw-text-subdued">
                              {customer.customerAcf?.category}
                            </span>
                          )}
                        </div>
                      </Fragment>
                    )}
                    <h3
                      set:html={caseStudy.title}
                      class="typography-cards-bold-large"
                    />

                    <div class="mt-auto pt-8">
                      <Button
                        asLink
                        trailingIcon="arrow-right"
                        href={buildI18nPath(caseStudy.uri)}
                        variant="secondary"
                        class="w-full md:w-auto"
                      >
                        {acf.caseStudyButtonLabel}
                      </Button>
                    </div>
                  </div>
                  <div
                    class={cn(
                      'image-column aspect-[16/9] col-span-full md:aspect-auto md:col-span-1',
                      {
                        'lg:col-span-8': isFeatured,
                      }
                    )}
                  >
                    <WordpressImage
                      data={caseStudy.subpageSettings?.image}
                      class="object-cover w-full h-full"
                    />
                  </div>
                </Card>
              </div>
            );
          })
      }
    </Grid>
    {
      button.shouldRender && (
        <ButtonContainer class="mt-8 md:mt-15">
          <Button
            asLink
            href={button.url}
            target={button.target}
            class="w-full md:w-auto"
          >
            {button.title}
          </Button>
        </ButtonContainer>
      )
    }
  </Container>
</section>
