---
import { Image } from 'astro:assets';
import { cmsStore } from '@/stores/cmsStore';
import { getStore } from '@/scripts/store';
import { parseSectionTitle } from '@/scripts/data-parsers/parseSectionTitle';
import { parseImage } from '@/scripts/data-parsers/parseImage';
import { parseLink } from '@/scripts/data-parsers/parseLink';
import Container from '../ui/Container.astro';
import Button from '../ui/Button.astro';
import SectionTitle from '../partials/SectionTitle.astro';

interface Props {
  type: 1 | 2;
}

const { type } = Astro.props;

const store = getStore(cmsStore);
const data = store.homepage!;
const acf = type === 1 ? data.homepage!.customers1! : data.homepage!.customers2;
const button = parseLink(
  type === 1 ? data.homepage!.customers1?.button : undefined,
);

const customersList = acf?.customersList?.nodes ?? [];
---

<section class="customers py-20">
  <Container>
    <SectionTitle {...parseSectionTitle(acf?.sectionTitle)} />
    {
      // TODO: Swiper on mobile
      customersList.length > 0 && (
        <div class="flex flex-wrap gap-2 items-center">
          {customersList.map((customer) => {
            if (customer.__typename !== 'Customer') return null;
            const logo = parseImage(customer.customerAcf?.logo);
            return (
              <div class="customer p-3 flex-1 basis-40 flex items-center justify-center">
                {logo.shouldRender && (
                  <Image
                    src={logo.url}
                    alt={logo.alt}
                    width={logo.width}
                    height={logo.height}
                    class="max-h-12 object-contain"
                  />
                )}
              </div>
            );
          })}
        </div>
      )
    }
    {
      button.shouldRender && (
        <div class="flex items-center justify-center mt-8">
          <Button
            asLink
            href={button.url}
            target={button.target}
            trailingIcon="arrow-right"
          >
            {button.title}
          </Button>
        </div>
      )
    }
  </Container>
</section>
