---
import { getImage } from 'astro:assets';
import { cmsStore } from '@/stores/cmsStore';
import { getStore } from '@/scripts/store';
import { parseLink } from '@/scripts/data-parsers/parseLink';
import heroImage from '@/assets/images/hero-image.svg?raw';
import avatar1 from '@/assets/images/avatar1.jpg';
import avatar2 from '@/assets/images/avatar2.jpg';
import avatar3 from '@/assets/images/avatar3.jpg';
import Container from '../ui/Container.astro';
import Button from '../ui/Button.astro';
import Grid from '../ui/Grid.astro';

const store = getStore(cmsStore);
const data = store.homepage!;
const acf = data.homepage!.hero!;

const button = parseLink(acf.button);
const avatar1Processed = await getImage({ src: avatar1, format: 'jpg' });
const avatar2Processed = await getImage({ src: avatar2, format: 'jpg' });
const avatar3Processed = await getImage({ src: avatar3, format: 'jpg' });
---

<section
  class="hero py-8 md:pt-[6.4375rem] bg-gradient-to-b from-sw-surface-subdued to-transparent"
>
  <Container>
    <Grid class="gap-y-8">
      <div
        class="col-span-full md:col-span-4 flex flex-col items-start justify-center gap-4"
      >
        <h1
          class="typography-h2 xs:typography-h1"
          set:html={acf.title ?? 'Sweep'}
        />
        <div class="typography-body" set:html={acf?.content ?? ''} />
        {
          button.shouldRender && (
            <Button
              asLink
              href={button.url}
              target={button.target}
              class="w-full md:w-auto hidden md:inline-flex"
            >
              {button.title}
            </Button>
          )
        }
      </div>
      <div
        class="col-span-full md:col-start-6 md:col-end-13 [&>svg]:max-w-full [&>svg]:h-auto"
        set:html={heroImage
          .replace('@avatar1', avatar1Processed.src)
          .replace('@avatar2', avatar2Processed.src)
          .replace('@avatar3', avatar3Processed.src)}
      />
      {
        button.shouldRender && (
          <Button
            asLink
            href={button.url}
            target={button.target}
            class="col-span-full inline-flex md:hidden w-full"
          >
            {button.title}
          </Button>
        )
      }
    </Grid>
  </Container>
</section>

<style>
  :global(.box) {
    --nth: 1;
    --delay: 250ms;
    --speed: 750ms;
    opacity: 0;
    animation: fade-in var(--speed) ease forwards
      calc(var(--nth) * var(--delay));

    &:nth-child(2) {
      --nth: 5;
      --speed: 660ms;
    }
    &:nth-child(3) {
      --nth: 4;
      --speed: 595ms;
    }
    &:nth-child(4) {
      --nth: 7;
      --speed: 820ms;
    }
    &:nth-child(5) {
      --nth: 2;
      --speed: 700ms;
    }
    &:nth-child(6) {
      --nth: 6;
      --speed: 725ms;
    }
    &:nth-child(7) {
      --speed: 680ms;
      --nth: 3;
    }
  }
  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(4px);
    }
    to {
      opacity: 100%;
      transform: translateY(0px);
    }
  }
</style>
