---
import { Image } from 'astro:assets';
import { cmsStore } from '@/stores/cmsStore';
import { getStore } from '@/scripts/store';
import { parseSectionTitle } from '@/scripts/data-parsers/parseSectionTitle';
import { parseImage } from '@/scripts/data-parsers/parseImage';
import { parseLink } from '@/scripts/data-parsers/parseLink';
import Container from '../ui/Container.astro';
import Button from '../ui/Button.astro';
import Grid from '../ui/Grid.astro';
import SectionTitle from '../partials/SectionTitle.astro';
import Card from '../ui/Card.astro';
import Prose from '../ui/Prose.astro';
import ButtonContainer from '../ButtonContainer.astro';

const store = getStore(cmsStore);
const data = store.homepage!;
const acf = data.homepage!.platform!;
const image = parseImage(acf.image);
const button = parseLink(acf.button);
---

<section class="platform bg-sw-surface-subdued py-12 md:py-20">
  <Container>
    <SectionTitle {...parseSectionTitle(acf.sectionTitle)} />
    <Grid>
      <Card class="col-span-full md:col-span-6 lg:col-start-1 lg:col-end-5">
        <Prose set:html={acf.content} />
      </Card>
      <div
        class="col-span-full md:col-start-7 md:col-end-13 lg:col-start-6 lg:col-end-12"
      >
        {
          image.shouldRender && (
            <Image
              src={image.url}
              alt={image.alt}
              width={image.width}
              height={image.height}
              class="mx-auto"
              format={image.isSvg ? 'svg' : undefined}
            />
          )
        }
      </div>
    </Grid>
    {
      button.shouldRender && (
        <ButtonContainer class="mt-[4.5rem]">
          <Button
            asLink
            trailingIcon="arrow-right"
            href={button.url}
            target={button.target}
            class="w-full md:w-auto"
          >
            {button.title}
          </Button>
        </ButtonContainer>
      )
    }
  </Container>
</section>
