---
import '@/styles/global.css';
import '@/assets/fonts/font.css';
import type { HTMLAttributes } from 'astro/types';
import Footer from '@/components/partials/Footer.astro';
import Header from '@/components/partials/Header.astro';
import { cn } from '@/scripts/cn';

interface Props extends HTMLAttributes<'main'> {
  home?: boolean;
  name: string;
  pageTitle: string;
}
const { home, name, pageTitle, class: className, ...props } = Astro.props;

// TODO: Update SEO
const siteTitle = 'Sweep';
const description = 'Sweep description';

const title = !home && pageTitle ? `${pageTitle} - ${siteTitle}` : siteTitle;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />

    <link
      rel="icon"
      type="image/svg+xml"
      href={import.meta.env.PROD ? '/favicon.svg' : '/favicon-dev.svg'}
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="antialiased min-h-screen flex flex-col">
    <Header />
    <main {...props} class={cn({ subpage: !home }, name, 'flex-1', className)}>
      <slot />
    </main>
    <Footer />
  </body>
</html>
