---
import { Icon } from 'astro-icon/components';
import { buildI18nPath } from '@/i18n/utils';
import { getLanguage, getOptions } from '@/scripts/utils-store-helpers';
import Container from '../ui/Container.astro';
import LanguageSwitcher from '../LanguageSwitcher.astro';
import MenuItem from '../MenuItem.astro';
import MenuHamburger from '../MenuHamburger.astro';
import Menu from './Menu.astro';
import { parseLink } from '@/scripts/data-parsers/parseLink';
import WordpressButtonLink from '../WordpressButtonLink.astro';

const { currentLanguage } = getLanguage();
const { loginLink: rawLogin, bookDemoLink: rawBookDemo } = getOptions();
const login = parseLink(rawLogin);
const bookDemo = parseLink(rawBookDemo);
const menuId = `main-menu-${crypto.randomUUID().substring(16)}`;
---

<header
  class="sticky top-0 z-[100] border-b border-sw-border bg-white py-4 backdrop-blur-[6px]"
>
  <Container class="flex items-center justify-between gap-4 sm:gap-6">
    <div class="logo-container">
      <a href={buildI18nPath('/', currentLanguage)} aria-label="Go to homepage">
        <Icon
          name="logo"
          aria-label="Sweep logo"
          class="h-auto w-20 text-sw-sky-400 sm:w-24 md:w-36"
        />
      </a>
    </div>
    <Menu id={menuId} />
    <div
      class="controls-container flex h-full items-center gap-2 sm:gap-4 md:gap-8"
    >
      <LanguageSwitcher class="text-sm sm:text-base" />
      {
        login.shouldRender && (
          <MenuItem
            href={login.url}
            external={login.target === '_blank'}
            class="w-auto text-sm sm:w-full sm:text-base"
            set:html={login.title}
          />
        )
      }
      {
        bookDemo.shouldRender && (
          <WordpressButtonLink
            data={bookDemo}
            class="hidden text-sm xs:block sm:text-base"
          />
        )
      }
      <MenuHamburger menuId={menuId} />
    </div>
  </Container>
</header>
