---
import { getImage } from 'astro:assets';
import { getLocale } from '@/i18n/utils';
import { getStore } from '@/scripts/store';
import { getLanguage, getOptions, getSeo } from '@/scripts/utils-store-helpers';
import { cmsStore } from '@/stores/cmsStore';
import { buildCanonicalUrl } from '@/scripts/buildCanonicalUrl';

const {
  title: seoTitle,
  opengraphImage,
  opengraphModifiedTime,
  schema,
  opengraphDescription,
  opengraphSiteName,
} = getSeo();
const store = getStore(cmsStore);
const { searchEngineVisibility } = getOptions();
const { currentLanguage } = getLanguage();
const locale = getLocale(currentLanguage);

const { generalSettingsDescription: wpDescription } = store.settings ?? {};
const pageTitle = store.pageTitle || '';
const pageType: string = Array.isArray(schema?.pageType)
  ? schema.pageType.join('')
  : schema?.pageType ?? 'Article';

const metaTitle = seoTitle || pageTitle;

const description = opengraphDescription || wpDescription;

const image = opengraphImage?.mediaItemUrl
  ? await getImage({
      src: opengraphImage.mediaItemUrl,
      format: 'jpg',
      inferSize: true,
    })
  : undefined;

const canonical = buildCanonicalUrl();
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<meta name="description" content={description} />
<meta name="generator" content={Astro.generator} />
{
  searchEngineVisibility ? (
    <meta name="robots" content="noindex, nofollow" />
  ) : (
    <meta
      name="robots"
      content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large"
    />
  )
}
<meta property="og:locale" content={locale} />
<meta property="og:type" content={pageType} />
<meta property="og:title" content={metaTitle} />
<meta property="og:description" content={description} />
<meta property="og:url" content={canonical} />
<meta property="og:site_name" content={opengraphSiteName} />
<meta property="og:updated_time" content={opengraphModifiedTime} />
<meta property="og:image" content={image?.src} />
<meta property="og:image:secure_url" content={image?.src} />
<meta property="og:image:width" content={String(image?.options.width)} />
<meta property="og:image:height" content={String(image?.options.height)} />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content={metaTitle} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={image?.src} />
<link rel="canonical" href={canonical} />
<title>{metaTitle}</title>

<link
  rel="icon"
  type="image/svg+xml"
  href={import.meta.env.PROD ? '/favicon.svg' : '/favicon-dev.svg'}
/>
